
<body>
    <div class="container">
         <h2>Login With</h2>
         <div class="icons">
            <div>
            <a href="/login/facebook"><img src="/facebook.jpg" alt="Facebook"> Facebook</a></div>
            <div>
            <a href="/login/google"><img src="/google.png" alt="Gmail"> Google</a></div>
        </div>
            <h3 style="color: aliceblue;font-weight:lighter">Or</h3>
                  <h3>{{{loginError}}}</h3>
        <form action="/login" method="post">
            <input type="email" placeholder="Email" required name="username">
            <input type="password" placeholder="Password" required name="password">
            <button type="submit" style="margin-bottom: 30px;">Login</button>
        </form>
        <a href="/resetPassword" style="color: blue;">Forgot password? Reset password</a>  <br><br>
        <a href="/signup" >Don't have an account? Create account</a>
    </div>
         
</body>
</html>
