
<body>
    <div class="container">
         <h2>Signup With</h2>
         <div class="icons">
            <div>
            <a href="/login/facebook"><img src="/facebook.jpg" alt="Facebook"> Facebook</a></div>
            <div>
            <a href="login/google"><img src="/google.png" alt="Gmail"> Google</a></div>
        </div>
       
            <h3 style="color: aliceblue;font-weight:lighter">Or</h3>
            <h3>{{{error}}}</h3>
        <form action="/signup/auth" method="post">
     
              <input type="text" placeholder= "First Name" required  name="name"/> 
              <input type="text" placeholder= "Surname" required name="surname" />  
            <input type="email" placeholder="Email" required name="email">
            <input type="password" placeholder="Password" required name="password">
            <input type="password" placeholder="Confirm Password" required name="confirmPassword">
            <button type="submit" style="margin-bottom: 30px;">Signup</button>
        </form>
       
        <a href="/login" >Already have an account?Login</a>
    </div>
</body>
</html>
